build/debug/D3Dcompiler_47.dll
build/debug/getText.o
build/debug/libEGL.dll
build/debug/libgcc_s_dw2-1.dll
build/debug/libGLESv2.dll
build/debug/libstdc++-6.dll
build/debug/libwinpthread-1.dll
build/debug/main.o
build/debug/mainwindow.o
build/debug/moc_getText.cpp
build/debug/moc_getText.o
build/debug/moc_mainwindow.cpp
build/debug/moc_mainwindow.o
build/debug/moc_mTrs.cpp
build/debug/moc_mTrs.o
build/debug/moc_predefs.h
build/debug/moc_titlebar.cpp
build/debug/moc_titlebar.o
build/debug/mTrs.exe
build/debug/mTrs.o
build/debug/opengl32sw.dll
build/debug/Qt5Core.dll
build/debug/Qt5Gui.dll
build/debug/Qt5Network.dll
build/debug/Qt5Svg.dll
build/debug/Qt5Widgets.dll
build/debug/titlebar.o
build/debug/bearer/qgenericbearer.dll
build/debug/iconengines/qsvgicon.dll
build/debug/imageformats/qgif.dll
build/debug/imageformats/qicns.dll
build/debug/imageformats/qico.dll
build/debug/imageformats/qjpeg.dll
build/debug/imageformats/qsvg.dll
build/debug/imageformats/qtga.dll
build/debug/imageformats/qtiff.dll
build/debug/imageformats/qwbmp.dll
build/debug/imageformats/qwebp.dll
build/debug/platforms/qwindows.dll
build/debug/styles/qwindowsvistastyle.dll
build/debug/translations/qt_ar.qm
build/debug/translations/qt_bg.qm
build/debug/translations/qt_ca.qm
build/debug/translations/qt_cs.qm
build/debug/translations/qt_da.qm
build/debug/translations/qt_de.qm
build/debug/translations/qt_en.qm
build/debug/translations/qt_es.qm
build/debug/translations/qt_fi.qm
build/debug/translations/qt_fr.qm
build/debug/translations/qt_gd.qm
build/debug/translations/qt_he.qm
build/debug/translations/qt_hu.qm
build/debug/translations/qt_it.qm
build/debug/translations/qt_ja.qm
build/debug/translations/qt_ko.qm
build/debug/translations/qt_lv.qm
build/debug/translations/qt_pl.qm
build/debug/translations/qt_ru.qm
build/debug/translations/qt_sk.qm
build/debug/translations/qt_uk.qm
build/debug/translations/qt_zh_TW.qm
.vscode/launch.json
build/.qmake.stash
build/Makefile
build/Makefile.Debug
build/Makefile.Release
settings.json
